body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #111;
  background-image: radial-gradient(#111 0.85px, transparent 0.85px), radial-gradient(#111 0.85px, #f3e9dd 0.85px);
  background-position: 0 0, 17px 17px;
  background-size: 34px 34px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: #111;
  border: none;
  background: none;
  outline: none;
}

.container {
  width: 800px;
  margin: 50px 0;
  padding: 50px 5vw;
  border: 3px solid #111;
  background-color: #fdf6ec;
}

#main {
  display: flex;
  justify-content: center;
}
#main .mainBox {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}
#main .mainBox .left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-right: 65px;
  font-family: "Rammetto One";
  font-size: 42px;
  background-color: #dab88b;
  border-radius: 5px;
  text-align: center;
}
#main .mainBox .right {
  display: flex;
  justify-content: end;
  flex-direction: column;
  position: relative;
}
#main .mainBox .right .dateBox {
  display: flex;
  align-items: center;
}
#main .mainBox .right .dateBox .resultDate {
  margin-right: 15px;
  font-size: 30px;
}
#main .mainBox .right .dateBox .calendar {
  display: none;
  width: 250px;
  position: absolute;
  top: 85px;
  right: -65px;
  padding: 10px;
  background-color: #f3e9dd;
  border-radius: 5px;
}
#main .mainBox .right .dateBox .calendar.show {
  display: block;
}
#main .mainBox .right .btns {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
#main .mainBox .right .btns .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-right: 30px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: #b7cadb;
}
#main .mainBox .right .btns .btn .material-icons {
  margin-right: 3px;
}

.movie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f3e9dd;
}
.movie .number {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie .number .rank {
  width: 30px;
}
.movie .number .incDec {
  width: 30px;
  font-size: 12px;
  text-align: center;
}
.movie .number .incDec.dropUp {
  color: rgb(209, 51, 78);
}
.movie .number .incDec.dropDown {
  color: #2356b6;
}
.movie .number .incDec .material-icons {
  font-size: 27px;
}
.movie .number .incDec .material-icons.remove {
  font-size: 20px;
  color: #f3e9dd;
}
.movie .poster {
  width: 50px;
  height: 50px;
  border-radius: 3px;
}
.movie .poster:hover {
  opacity: 1 !important;
}
.movie .poster:hover a {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
}
.movie .poster:hover a .material-icons {
  font-size: 30px;
}
.movie .poster a {
  display: none;
}
.movie .descBox {
  margin: 0 10px;
}
.movie .descBox .title {
  width: 300px;
}
.movie .descBox .openDate {
  padding-top: 5px;
  font-size: 12px;
}
.movie .audience {
  width: 100px;
  margin-right: 10px;
  text-align: right;
}

.favorite {
  margin-right: 10px;
}
.favorite .material-icons {
  font-size: 12px;
  color: #b7cadb;
  cursor: pointer;
}
.favorite .material-icons.off {
  display: none;
}
.favorite .material-icons.on {
  display: block;
}
.favorite .filled {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.days {
  margin: 10px 0;
  text-transform: uppercase;
}
.days .sun span {
  color: #b7cadb;
}

.days ul,
.dates ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}
.days ul li,
.dates ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(14.2857142857% - 6px);
  position: relative;
  margin: 3px;
}
.days ul li:before,
.dates ul li:before {
  display: block;
  padding-top: 100%;
  content: "";
}
.days ul li span,
.dates ul li span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
}
.days ul li.blank span,
.dates ul li.blank span {
  background: none;
  pointer-events: none;
}

.dates li.selected span {
  background-color: #b7cadb;
}