// $main-color: #e71212;
$main-color: #b7cadb;
$font-color: #111;
$sub-color: #dab88b;
$bg-color: #fdf6ec;
$gray-color: #f3e9dd;
$font-extra-large: 64px;
$font-large: 42px;
$font-medium: 28px;
$font-normal: 16px;
$font-small: 12px;
